{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col col-md-auto text-center">
            <a class="main-title" href="{% url 'home' %}">
                <h3>{{ profile }}</h3>
            </a>
            <hr>

            <form action="" method="get">
                <h6>

                    {% for expertise in profile.areas_of_expertise.all %}
                        <span class="expertise">
                            <input class="btn btn-sm btn-shaped {% if display == expertise|slugify %} active shadow-4 {% endif %}" type="submit" name="expertise" value="{{ expertise }}">
                        </span>
                    {% endfor %}

                    {% if display %}
                        <a class="btn btn-sm btn-shaped" href="{% url 'home' %}">Show all</a>
                    {% endif %}

                </h6>
            </form>


            <p class="about-me">
                <button class="btn btn-info btn-sm shadow-4" data-target="#navdrawerDefault" data-toggle="navdrawer" type="button">about me</button>
            </p>
        </div>
    </div>
    <div class="portfolio_title">
        <h4><b>Portfolio</b></h4>
    </div>


    {% for project in projects|dictsort:"project_position" %}
        {% if project.show_or_hide %}
            <div class="row project-row">
                <div class="col">
                    <div class="media">
                        <img loading="lazy" class="img-fluid img-frame border" height="240px" width="240px" src="{{ project.project_image }}" alt="image of project '{{ project.title }}'">
                        <div class="media-body">
                            <h4 class="mt-0"><b>{{ project.project_title }}</b></h4>
                            <p class="subtitle">{{ project.project_subtitle }}<br>
                                {% for tech in project.project_technologies.all %}
                                    <span class="badge badge-dark project-badge">{{ tech }}</span>
                                {% endfor %}
                            </p>
                            <p>{{ project.project_description }}</p>
                            {% if project.project_link and project.project_button_description %}
                                <a href="{{ project.project_link }}" class="btn btn-outline-dark btn-shaped btn-xs shadow-4" target="_blank">
                                    {{ project.project_button_description }} <span class="material-icons-round new-tab">open_in_new</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}
