{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col col-md-auto text-center">
            <a class="main-title" href="{% url 'home' %}">
                <h3>{{ profile }}</h3>
            </a>
            <hr>

            <form action="" method="get">
                <h6>

                    {% for expertise in profile.areas_of_expertise.all %}
                        <span class="expertise">
                            <input class="btn btn-sm btn-shaped {% if display == expertise|slugify %} active shadow-4 {% endif %}" type="submit" name="expertise" value="{{ expertise }}">
                        </span>
                    {% endfor %}

                    {% if display %}
                        <a class="btn btn-sm btn-shaped" href="{% url 'home' %}">Show all</a>
                    {% endif %}

                </h6>
            </form>


            <p class="about-me">
                <button class="btn btn-info btn-sm shadow-4 d-lg-none" data-target="#navdrawerDefault" data-toggle="navdrawer" type="button">about me</button>
            </p>
        </div>
    </div>
    <div class="portfolio_title">
        <h4><b>Portfolio</b></h4>
    </div>


    {% for project in projects|dictsort:"position" %}
        {% if project.show %}
            <div class="row project-row">
                <div class="col">
                    <div class="media">
                        {% if project.link %}
                            <a href="{{ project.link }}" target="_blank">
                                <img loading="lazy" class="img-fluid img-frame border" height="240px" width="240px" src="{{ project.image }}" alt="image of project '{{ project.title }}'">
                            </a>
                        {% else %}
                            <img loading="lazy" class="img-fluid img-frame border" height="240px" width="240px" src="{{ project.image }}" alt="image of project '{{ project.title }}'">
                        {% endif %}
                        <div class="media-body">
                            <h4 class="mt-0"><b>{{ project.title }}</b></h4>
                            <p class="subtitle">{{ project.subtitle }}<br>
                                {% for tech in project.technologies.all %}
                                    <span class="badge badge-dark project-badge">{{ tech }}</span>
                                {% endfor %}
                            </p>
                            <p>{{ project.description }}</p>
                            {% if project.link and project.button_description %}
                                <a href="{{ project.link }}" class="btn btn-outline-dark btn-shaped btn-xs shadow-4" target="_blank">
                                    {{ project.button_description }} <span class="material-icons-round new-tab">open_in_new</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
{#    AWARDS MODAL #}
    <div class="modal fade" id="awardsModal" tabindex="-1"  aria-labelledby="awardsModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="awardsModal">Awards</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          
              {% for item in extras|dictsort:"position" %}
                  {% if item.type == 'aw' %}
                      
                      <div class="row my-3">
                        <div class="col">
                          
                            <img loading="lazy" class="img-fluid img-frame border" height="512px" width="512px" src="{{ item.image }}" alt="image of award '{{ item.name }}'">
                            <h6 class="text-center mt-2">{{ item.name }}</h6>
                            <small><i>{{ item.description }}</i></small>
                            {% if item.extralink_set.all %}
                                <br><br><small><b>In the media:</b></small><br>
                                {% for extra_link in item.extralink_set.all|dictsort:"position" %}
                                    <small><a href="{{ extra_link.url }}" target="_blank">{{ extra_link.url_display }}</a><br></small>
                                {% endfor %}
                            {% endif %}
                          
                        </div>
                      </div>
                      <hr>

                  {% endif %}
              {% endfor %}
              
          </div>
        </div>
      </div>
    </div>
    
{#    TALKS MODAL #}
    <div class="modal fade" id="talksModal" tabindex="-1"  aria-labelledby="talksModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="talksModal">Talks</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              {% for item in extras|dictsort:"position" %}
                  {% if item.type == 'ta' %}

                    <div class="row my-3">
                        <div class="col">
                          
                            <img loading="lazy" class="img-fluid img-frame border" height="512px" width="512px" src="{{ item.image }}" alt="image of award '{{ item.name }}'">
                            <h6 class="text-center mt-2">{{ item.name }}</h6>
                            <small><i>{{ item.description }}</i></small>
                            
                            {% if item.extralink_set.all %}
                                <br><br><small><b>Links:</b></small><br>
                                {% for extra_link in item.extralink_set.all|dictsort:"position" %}
                                    <small><a href="{{ extra_link.url }}" target="_blank">{{ extra_link.url_display }}</a><br></small>
                                {% endfor %}
                            {% endif %}
                          
                        </div>
                      </div>
                      <hr>

                  {% endif %}
              {% endfor %}
              
          </div>
        </div>
      </div>
    </div>
    
{#    CERTIFICATIONS MODAL #}
    <div class="modal fade" id="certificationsModal" tabindex="-1"  aria-labelledby="certificationsModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="certificationsModal">Certifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              {% for item in extras|dictsort:"position" %}
                  {% if item.type == 'ce' %}

                    <div class="row my-3">
                        <div class="col">
                          
                            <img loading="lazy" class="img-fluid img-frame border" height="512px" width="512px" src="{{ item.image }}" alt="image of award '{{ item.name }}'">
                            <h6 class="text-center mt-2">{{ item.name }}</h6>
                            <small><i>{{ item.description }}</i></small>
                            {% if item.extralink_set.all %}
                                <br><br><small><b>Links:</b></small><br>
                                {% for extra_link in item.extralink_set.all|dictsort:"position" %}
                                    <small><a href="{{ extra_link.url }}" target="_blank">{{ extra_link.url_display }}</a><br></small>
                                {% endfor %}
                            {% endif %}
                          
                        </div>
                      </div>
                      <hr>

                  {% endif %}
              {% endfor %}
              
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
