<div class="modal fade" id="BioModal" tabindex="-1"  aria-labelledby="Bio" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ profile.0.bio }}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CompetenciesModal" tabindex="-1"  aria-labelledby="Competencies" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Competencies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for item in profile.0.competencies.all %}
                        <div class="col-3 my-4 text-center">
                            <img loading="lazy" class="img-fluid img-frame social-icons" height="50px" width="50px" src="{{ item.icon }}" alt="{{ item.competency }}">
                            {{ item.competency }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
