{% load range_tag %}

<div aria-hidden="true" class="navdrawer navdrawer-permanent-lg" id="navdrawerDefault" tabindex="-1">
    <div class="navdrawer-content">
        <div class="navdrawer-header">
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'admin:index' %}"><img loading="lazy" class="img-fluid img-frame" height="240px" width="240px" src="{{ profile.picture }}" alt="picture of {{ profile.name }}"></a>
            {% else %}
                <img loading="lazy" class="img-fluid img-frame" height="240px" width="240px" src="{{ profile.picture }}" alt="picture of {{ profile.name }}">
            {% endif %}
        </div>

        <nav class="navdrawer-nav">
            <div class="row">
                <div class="col text-center">
                    <a href="{{ profile.github_link }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://res.cloudinary.com/dpazaz3ig/image/upload/v1666601907/portfolio/github_izhmwl.png" alt="github">
                    </a>
                    <a href="{{ profile.linkedin_link }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://res.cloudinary.com/dpazaz3ig/image/upload/v1666601907/portfolio/linkedin_zpthp5.png" alt="linkedin">
                    </a>
                    <a href="mailto:{{ profile.email }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://res.cloudinary.com/dpazaz3ig/image/upload/v1666601905/portfolio/email_ckslwi.png" alt="email">
                    </a>
                </div>
            </div>
        </nav>

        <div class="navdrawer-divider"></div>

        <div class="row">
            <div class="col text-center">
                <a class="btn btn-sm btn-shaped m-2" data-toggle="modal" data-target="#awardsModal">🏅 Awards</a>
                <a class="btn btn-sm btn-shaped m-2" data-toggle="modal" data-target="#talksModal">🧑‍🏫 Talks</a>
            </div>
        </div>
    
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-sm btn-shaped m-2" data-toggle="modal" data-target="#certificationsModal">🎓 Certificates</a>
                <a class="btn btn-sm btn-shaped m-2" data-toggle="modal" data-target="#papersModal">📄 Papers</a>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <ul class="navdrawer-nav">
                    <li class="nav-item">
                        <p class="bio">{{ profile.bio }}</p>
                    </li>
                    <br>
                    <li class="nav-item">
                        <div class="row">
                            <div class="col col-12 text-center">
                                <h6>Competencies</h6>
                            
                                {% for item in profile.competencies.all|dictsort:"id" %}

                                    <figure class="figure my-3">
                                        <img loading="lazy" class="img-fluid img-frame social-icons my-0" height="50px" width="50px" src="{{ item.icon }}" alt="{{ item.competency }}">
                                        <p class="mb-0">{{ item.competency }}</p>

                                        {% for star in item.proficiency|num_range %}
                                            <span class="material-symbols-outlined proficiency text-warning mt-n1">star_rate</span>
                                        {% endfor %}

                                    </figure>

                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="row">
            <div class="col text-center">
                <h6>Extras</h6>
            </div>
        </div>
    
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-dark m-2 d-flex" target="_blank" href="https://www.flickr.com/photos/guilhermeviotti/albums/">📷 Photography 📷</a>
            </div>
        </div>
    
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-dark m-2 d-flex" target="_blank" href="https://www.youtube.com/watch?v=m4wvZAL6XOg&list=PLCN3XQsHq38p2Xbqnz50Tdt9PBOh_MMeF">🥁 Drums 🥁</a>
            </div>
        </div>

        <div class="mb-5"></div>
    
    </div>
</div>

