<div aria-hidden="true" class="navdrawer" id="navdrawerDefault" tabindex="-1">
    <div class="navdrawer-content">
        <div class="navdrawer-header">
            <img loading="lazy" class="img-fluid img-frame" height="240px" width="240px" src="{{ profile.0.picture }}" alt="picture of {{ profile.0.name }}">
        </div>

        <nav class="navdrawer-nav">
            <div class="row">
                <div class="col text-center">
                    <a href="{{ profile.0.github_link }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://www.dropbox.com/s/vx3s4kcbozyua6s/github.png?raw=1" alt="github">
                    </a>
                    <a href="{{ profile.0.linkedin_link }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://www.dropbox.com/s/2ic18fdnxj8b63w/linkedin.png?raw=1" alt="linkedin">
                    </a>
                    <a href="mailto:{{ profile.0.email }}" target="_blank">
                        <img loading="lazy" class="img-fluid social-icons" height="50px" width="50px" src="https://www.dropbox.com/s/oc1x8p53rrvsc9r/email.png?raw=1" alt="email">
                    </a>
                </div>
            </div>


        </nav>
        <div class="navdrawer-divider"></div>
        <div class="row">
            <div class="col">
                <ul class="navdrawer-nav text-center">
                    <li class="nav-item nav-btn">
                        <button type="button" class="btn btn-outline-dark w-75 shadow-4" data-toggle="modal" data-target="#BioModal">
                            Bio
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark w-75 shadow-4" data-toggle="modal" data-target="#CompetenciesModal">
                            Competencies
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
